@media screen and (max-width: 1024px) {
    /* font du site*/
    body {
        width: auto;
    }
    header nav {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        align-content: stretch;
        align-items: inherit;
        grid-template-areas: "image sub" "nav nav";
        width:100%
    }
    header .img{
        grid-area: image;
        margin-top: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    header .hotel{
        grid-area: nav;
    }
    header .activity{
        grid-area: nav;
    }
    header .sub{
        grid-area: sub;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }
    nav ul{
        grid-area: nav;
    }

    /*Les liens de navigation*/
    nav ul {
        justify-content: baseline;
        width: 100%;
        flex-wrap: wrap-reverse;
    }
    /*Le titre du site*/
    .title {
        font-weight: 800;
        font-size: 27px;
        margin-bottom: 11px;
    }
    .main-title h2 {
        font-weight: 600;
        font-size: 17px;
        margin-bottom: 30px;
    }
    /*Les filtres*/
    .filters {
        flex-wrap: wrap;
    }
    .filters .fil {
        margin-bottom: 5%;
    }
    .logo {
        flex-wrap: wrap;
    }
    .logo>.border {
        margin-bottom: 4%;
    }
    /*La barre de recherche*/
    #search {
        padding-right: 25px;
    }
    .recherche {
        visibility: hidden;
    }
    .logo_search {
        visibility: visible;
        background-color: #0065FC;
        border-radius: 12px;
        color: white;
        padding: 12px;
        border-style: none;
        margin-left: -27%;
    }
    /*Logement*/
    .logements {
        padding-top: 0px;
        font-weight: 500;
        font-size: 17px;
    }
    .logements .texte {
        text-align: justify;
    }
    /*Hebergement a marseille*/
    .body {
        display: flex;
        flex-direction: column-reverse;
        width: 85%;
    }
    article {
        width: auto;
        background-color: white;
    }
    .hotel {
        flex-direction: column;
        width: auto;
    }
    .hotel .img1 {
        margin-left: 0px;
    }
    .hotel .photo {
        width: auto;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin-left: 40px;
    }
    /*Populaire*/
    aside {
        width: auto;
        margin-left: 0px;
    }
    /*Les activité*/
    #activity h2 {
        margin-left: 40px;
    }
    .activity {
        flex-direction: column;
        width: auto;
        margin-left: 35px;
    }
    .vieux-port {
        width: 100%;
    }
    .pomegues {
        width: 100%;
    }
    .frioul {
        width: 100%;
    }
    .calanques {
        width: 100%;
    }
    .longchamp {
        width: 100%;
    }
    .notre-dame {
        width: 100%;
    }
    /*Le footer du site*/
    footer {
        flex-direction: column;
        margin-left: 0px;
    }
    .hebergements {
        margin-inline-start: 0px;
    }
    .assistance {
        margin-inline-start: 0px;
    }
}