@media screen and (max-width: 1024px) {
    /* font du site*/
    body {
        width: auto;
        margin: 1%;
    }
    /* La partie header du site */
    header {
        padding-left: 0px;
    }
    header nav {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        align-content: stretch;
        align-items: inherit;
        grid-template-areas: "image sub" "nav nav";
        width: 100%
    }
    header img {
        grid-area: image;
        margin-top: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 115px;
        padding-left: 10%;
    }
    header .hotel {
        grid-area: nav;
        padding-left: 0px;
        padding-right: 0px;
    }
    header .activite {
        grid-area: nav;
    }
    header .sub {
        grid-area: sub;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 95%;
    }
    /*Les liens de navigation*/
    nav ul {
        grid-area: nav;
        list-style: none;
        display: flex;
        margin-top: 0px;
        justify-content: space-around;
        border-bottom: 2px solid #F2F2F2;
        padding-left: 0px;
        margin-bottom: 0px;
        padding-right: 0px;
        width: auto;
        flex-wrap: wrap-reverse;
    }
    nav li {
        margin-bottom: 0px;
        margin-left: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        width: 50%;
        text-align: center;
    }
    nav li:hover {
        border-top: 0px;
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 10px;
    }
    /*Le titre du site*/
    .title {
        font-weight: 800;
        font-size: 27px;
        margin-bottom: 11px;
    }
    .main-title h2 {
        font-weight: 600;
        font-size: 17px;
        margin-bottom: 30px;
    }
    .main-title {
        padding-left: 0px;
    }
    /*Les filtres*/
    .filters {
        flex-wrap: wrap;
        margin-left: 0px;
    }
    .filters .fil {
        margin-bottom: 4%;
    }
    .logo {
        flex-wrap: wrap;
    }
    .logo>.border {
        margin-bottom: 4%;
    }
    /*La barre de recherche*/
    .background-search {
        padding: 16px;
        padding-left: 18px;
        padding-right: 18px;
    }
    #search {
        height: 51px;
        width: 70%;
        margin-left: 45px;
        
    }
    .recherche {
        visibility: hidden;
        margin-right: 0px;
        display: none;
    }
    .logo_search {
        visibility: visible;
        background-color: #0065FC;
        border-radius: 12px;
        color: white;
        padding: 17px;
        border-style: none;
        margin: auto;
        margin-left: -6%;
        margin-top: -1%;
    }
    .search-bar {
        padding-left: 0px;
    }
    /*Logement*/
    .logements {
        padding-top: 0px;
        font-weight: 500;
        font-size: 17px;
        width: 100%;
        margin-left: 0px;
    }
    .logements .texte {
        width: 100%;
    }
    .logements i {
        font-size: 12px;
    }
    /*Hebergement a marseille*/
    .body {
        display: flex;
        flex-direction: column-reverse;
        width: 85%;
        margin-right: 0px;
    }
    article {
        width: auto;
        background-color: transparent;
        padding: 0px;
    }
    article a {
        width: 100%;
        margin: 0;
    }
    .hotel-title {
        margin-left: 10%;
        margin-bottom: 10px;
    }
    .hotel {
        flex-direction: column;
        width: auto;
    }
    .hotel .img1 {
        margin-left: 0px;
    }
    .hotel img {
        width: 98%;
    }
    .hotel .photo {
        width: 100%;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin: 20px 8%;
    }
    .bottom {
        margin-left: 11%;
        font-size: 18px;
    }
    /*Populaire*/
    aside {
        width: 100%;
        margin-left: 0px;
        border-radius: 0px;
        padding: 8.8%;
    }
    .title-popu {
        padding-top: 15px;
        font-size: 25px;
    }
    .populary .photo {
        height: 140px;
        width: 100%;
        margin-left: auto;
    }
    .populary img {
        height: 130px;
    }
    /*Les activité*/
    #activity {
        padding-left: 0px;
    }
    #activity h2 {
        margin-left: 10%;
        font-size: 25px;
        padding-top: 0%;
        padding-left: 0px;
    }
    .activity {
        flex-direction: column;
        width: 99%;
    }
    .activity a {
        width: 98%
    }
    .activity .img_2 {
        width: 98% !important;
    }
    .img2, .img3 {
        width: 100%;
    }
    .vieux-port {
        width: 86%;
        height: 210px;
        margin-top: 20px;
        margin-left: 8%;
    }
    .vieux-port img {
        height: 150px;
    }
    .img2 {
        padding: 0px;
        margin: 0;
    }
    .pomegues {
        width: 86%;
        height: 210px;
        margin-top: 20px;
        margin-left: 8%;
    }
    .pomegues img {
        height: 150px;
    }
    .frioul {
        width: 86%;
        height: 210px;
        margin-top: 20px;
        margin-left: 8%;
        margin-bottom: 0;
    }
    .frioul img {
        height: 150px;
    }
    .calanques {
        width: 86%;
        height: 210px;
        margin-top: 20px;
        margin-left: 8%;
    }
    .calanques img {
        height: 150px;
    }
    .notre-dame {
        width: 86%;
        height: 210px;
        margin-top: 20px;
        margin-left: 8%;
    }
    .notre-dame img {
        height: 150px;
    }
    .longchamp {
        width: 86%;
        height: 210px;
        margin-top: 20px;
        margin-left: 8%;
    }
    .longchamp img {
        height: 150px;
    }
    /*Le footer du site*/
    footer {
        flex-direction: column;
        margin-left: 0%;
        width: 100%;
        padding-left: 0%;
    }
    .propos {
        margin-left: 10%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .hebergements {
        margin-inline-start: 0px;
        margin-left: 10%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .assistance {
        margin-inline-start: 0px;
        margin-left: 10%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}