/*font family */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* font du site*/

body {
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

/*Les liens de navigation*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .hotel {
    padding-right: 15px;
    padding-left: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-top: 0px;
    padding-right: 30px;
}

nav a {
    font-weight: 500;
    color: black;
    text-decoration: none;
    width: 100%;
    padding-right: 10px;
}

nav li {
    padding-left: 20px;
    justify-content: space-between;
    border-top: 2px solid transparent;
    padding-top: 22px;
}

nav li:hover {
    color: #0065FC;
    border-color: #0065FC;
    font-weight: 600;
}

nav li:hover a {
    color: #0065FC;
}

.sub a {
    font-weight: 700;
    color: #0065FC;
    margin-top: 14px;
    margin-left: 10px;
}

.sub {
    padding-top: 8px;
    width: 100px;
    height: auto;
}

/*L'image d'accueil du site*/

header img {
    display: flex;
    width: 90px;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 20px;
}

/*Le titre du site*/

.title {
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 0em;
}

.main-title h2 {
    font-weight: 500;
    font-size: 1em;
    margin-top: 0em;
}

.main-title {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

/*La barre de recherche*/

.search-bar {
    padding-left: 25px;
}

.background-search {
    background-color: #F2F2F2;
    padding: 10px;
    position: absolute;
    border-radius: 10px 0px 0px 10px;
}

form {
    display: flex;
    position: relative;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
}

#search {
    font-family: 'Raleway', sans-serif;
    border: 2px solid #F2F2F2;
    padding: 10px;
    margin-left: 32px;
    font-weight: 800;
}

.recherche {
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 10px;
    border-style: none;
    margin: -4.8px;
}

.logo_search {
    visibility: hidden;
}

/*Les filtres*/

.filters {
    display: flex;
    flex: 1 0 auto;
    padding-top: 1.5em;
    align-items: center;
    margin-left: 20px;
}

.filters .fil {
    font-weight: 700;
}

.logo {
    display: flex;
}

.logo .border:hover {
    box-shadow: 1px 1px 1px #0065FC;
}

.logo>.border {
    margin: 0 12px;
}

.border {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    text-align: center;
    flex-grow: 0;
}

.border i {
    color: #0065FC;
    text-align: center;
}

.background-logo {
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 0.75em;
    margin-left: -3px;
    position: absolute;
    font-size: 1em;
    min-width: 20px;
}

.text {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 10px;
}

.filters a {
    color: black;
    text-decoration: none;
}

/*Logement*/

.logements {
    display: flex;
    align-items: baseline;
    font-size: 12px;
    padding-top: 20px;
    margin-left: 20px;
}

.logements .texte {
    margin-left: 5px;
}

.background-i {
    border: 2px solid #f2f2f2;
    background-color: white;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logements i {
    text-align: center;
    color: #0065FC;
}

/*Hebergement a marseille*/

.body {
    display: flex;
    margin-top: -15px;
    justify-content: space-around;
}

article {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    width: 70%;
}

article a {
    color: black;
    text-decoration: none;
    width: 30%;
    margin-left: 30px;
    margin: 20px calc(30% - 29%);
}

article .photo:hover {
    box-shadow: 0px 1px 3px #0065FC;
}

.hotel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hotel-title {
    margin-left: 16px;
    margin-bottom: 7px;
    font-weight: 800;
    font-size: 20px;
}

.hotel img {
    border-radius: 20px 20px 0px 0px;
    width: 97%;
    height: 150px;
    padding-left: 5px;
    padding-top: 5px;
    text-align: center;
    object-fit: cover;
}

.hotel .photo {
    border: 1px solid white;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
    border-radius: 20px;
    height: 230px;
    width: 100%;
    margin: 0;
}

.hotel .title_photo {
    padding-left: 10px;
    text-align: left;
    font-weight: 800;
    font-size: 18px;
}

.hotel i {
    color: #0065FC;
}

.grey {
    color: #f2f2f2 !important;
}

.hotel figcaption p {
    padding-left: 10px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
}

.hotel figcaption {
    margin-left: 5px;
}

.hotel .star {
    padding-left: 10px;
    font-size: 12px;
    margin-top: -10px;
}

.price {
    font-weight: 700;
}

.bottom {
    font-size: 15px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

/*Populaire*/

aside {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    width: 20%
}

aside a {
    color: black;
    text-decoration: none;
}

aside .photo:hover {
    box-shadow: 0px 1px 3px #0065FC;
}

.title-popu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 16px;
    margin-bottom: 7px;
    font-weight: 800;
    font-size: 20px;
}

.populary img {
    border-radius: 20px 0px 0px 20px;
    width: 100px;
    height: 145px;
    padding-left: 5px;
    padding-top: 5px;
    text-align: left;
    object-fit: cover;
}

.populary .photo {
    display: flex;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
    border-radius: 20px;
    height: 155px;
    width: 90%;
    margin-inline-start: 15px;
    margin-block-start: 30px;
    margin-inline-end: 30px;
}

.populary .populary_photo {
    padding-left: 10px;
    text-align: left;
    font-weight: 800;
    font-size: 18px;
    margin-top: 10px;
}

.populary figcaption p {
    margin-top: 5px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 12px;
}

.populary figcaption {
    position: relative;
}

.populary .fa-star {
    color: #0065FC;
}

.populary .star {
    padding-left: 10px;
    font-size: 12px;
    position: absolute;
    bottom: 15px;
}

/*Les activité*/

#activity {
    padding-left: 30px;
}

#activity h2 {
    font-weight: 800;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 8px;
}

.activity {
    display: flex;
}

.activity a {
    color: black;
    text-decoration: none;
    width: 24%;
}

.activity .photo:hover {
    box-shadow: 0px 1px 3px #0065FC;
}

.vieux-port img {
    aspect-ratio: 4/5;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.vieux-port {
    border: 1px solid #F2F2F2;
    background-color: white;
    box-shadow: 2px 5px 10px #F2F2F2;
    border-radius: 20px;
    aspect-ratio: auto;
    width: 100%;
    margin: 2px 10px;
}

.activity figcaption {
    font-size: 15px;
    font-weight: 900;
    padding-left: 15px;
}

.img2 {
    display: flex;
    flex-direction: column;
    width: 24%;
    margin: 2px 10px;
}

.img_2 {
    width: 93% !important;
}

.pomegues img {
    aspect-ratio: 4/3;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.pomegues {
    border: 1px solid #F2F2F2;
    background-color: white;
    box-shadow: 2px 5px 10px #F2F2F2;
    border-radius: 20px;
    aspect-ratio: auto;
    width: 100%;
    margin: 0 28px;
}

.frioul img {
    aspect-ratio: 11/4;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.frioul {
    border: 1px solid #F2F2F2;
    background-color: white;
    box-shadow: 2px 5px 10px #F2F2F2;
    border-radius: 20px;
    aspect-ratio: auto;
    width: 100%;
    margin: 35px 28px;
}

.calanques img {
    aspect-ratio: 4/5;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.calanques {
    border: 1px solid #F2F2F2;
    background-color: white;
    box-shadow: 2px 5px 10px #F2F2F2;
    border-radius: 20px;
    aspect-ratio: auto;
    width: 100%;
    margin: 2px 10px;
}

.img3 {
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-left: 5px;
}

.notre-dame img {
    aspect-ratio: 2/1;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.notre-dame {
    border: 1px solid #F2F2F2;
    background-color: white;
    box-shadow: 2px 5px 10px #F2F2F2;
    border-radius: 20px;
    aspect-ratio: auto;
    width: 100%;
    margin: 0px 28px;
}

.longchamp img {
    aspect-ratio: 8/5;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.longchamp {
    border: 1px solid #F2F2F2;
    background-color: white;
    box-shadow: 2px 5px 10px #F2F2F2;
    border-radius: 20px;
    aspect-ratio: auto;
    width: 100%;
    margin: 30px 28px;
}

/*Le footer du site*/

footer {
    display: flex;
    background-color: #F2F2F2;
    margin-top: 40px;
    padding-left: 30px;
}

footer h2 {
    font-size: 20px;
    font-weight: 800;
}

footer p {
    font-size: 15px;
    font-weight: 500;
}

.propos {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hebergements {
    margin-inline-start: 245px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.assistance {
    margin-inline-start: 245px;
    margin-top: 20px;
    margin-bottom: 20px;
}