/*font family */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* font du site*/

body {
    font-family: 'Raleway', sans-serif;
}

/*Les liens de navigation*/

nav ul {
    list-style: none;
    display: flex;
    margin-left: 970px;
}

nav a {
    font-weight: 500;
    color: black;
    text-decoration: none;
}

nav li {
    margin-left: 20px;
    justify-content: space-between;
}

nav li :hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 1.8em;
    font-weight: 600;
}

.sub {
    font-weight: 700;
    color: #0065FC;
}

/*L'image d'accueil du site*/

header img {
    display: flex;
    margin-left: 0em;
    width: 90px;
    margin-top: 1em;
    margin-bottom: 0em;
}

header {
    display: flex;
    align-items: flex-end;
}

/*Le titre du site*/

.title {
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 0em;
}

.mainTitle h2 {
    font-weight: 500;
    font-size: 1em;
    margin-top: 0em;
}

.mainTitle {
    display: flex;
    flex-direction: column;
}

/*La barre de recherche*/

.background-search {
    background-color: #F2F2F2;
    padding: 10px;
    position: absolute;
    border-radius: 10px 0px 0px 10px;
}

form {
    display: flex;
    position: relative;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
}

#search {
    font-family: 'Raleway', sans-serif;
    border: 2px solid #F2F2F2;
    padding: 10px;
    margin-left: 32px;
    font-weight: 800;
    font-size: auto;
}

.recherche {
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 10px;
    border-style: none;
    margin: -4.8px;
}

/*Les filtres*/

.filters {
    display: flex;
    flex: 1 0 auto;
    padding-top: 1.5em;
    align-items: center;
}

.filters .fil {
    font-weight: 700;
}

.logo {
    display: flex;
}

.logo .border:hover {
    box-shadow: 1px 1px 1px #0065FC;
}

.logo>.border {
    margin: 0 12px;
}

.border {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    text-align: center;
    flex-grow: 0;
}

.border i {
    color: #0065FC;
    text-align: center;
}

.background-logo {
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 0.75em;
    margin-left: -3px;
    position: absolute;
    font-size: 1em;
    min-width: 20px;
}

.text {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 10px;
}

/*Logement*/

.logements {
    display: flex;
    align-items: baseline;
    font-size: 10px;
    padding-top: 20px;
}

.logements .texte {
    margin-left: 5px;
}

.background-i {
    border: 2px solid #f2f2f2;
    background-color: white;
    border-radius: 100%;
    height: 16px;
    width: 16px;
}

.logements i {
    margin-top: 3px;
    margin-left: 6.5px;
    text-align: center;
    color: #0065FC;
}

/*Hebergement a marseille*/

.body {
    display: flex;
    margin-top: -15px;
}

article {
    background-color: #F2F2F2;
    width: 840px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
}

.hotel {
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
}

.hotel img {
    border-radius: 20px 20px 0px 0px;
    width: 220px;
    height: 100px;
    padding-left: 5px;
    padding-top: 5px;
    text-align: center;
    object-fit: cover;
}

.hotel .photo {
    border: 1px solid white;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
    border-radius: 20px;
    height: 180px;
    width: 230px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

.hotel figcaption p {
    padding-left: 10px;
    text-align: left;
    font-size: 15px;
}

.hotel h3 {
    padding-left: 10px;
    text-align: left;
    font-weight: 800;
    font-size: 15px;
}

.hotel i {
    color: #0065FC;
}

.grey {
    color: #f2f2f2 !important;
}

.hotel figcaption {
    margin-top: -10px;
    margin-left: 5px;
}

.hotel .star {
    padding-left: 10px;
    font-size: 12px;
    margin-top: -10px;
}

.hotel figcaption p {
    margin-top: -10px;
    font-weight: 500;
}

.price {
    font-weight: 700;
}

.bottom {
    font-size: 15px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 16px;
}

.hotel-title {
    margin-left: 16px;
    margin-bottom: 7px;
    font-weight: 800;
    font-size: 20px;
}

.hotel .img1 {
    margin-left: 35px;
}

/*Populaire*/

aside {
    background-color: #F2F2F2;
    width: 350px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 40px;
}

.populary img {
    border-radius: 20px 0px 0px 20px;
    width: 100px;
    height: 110px;
    padding-left: 5px;
    padding-top: 5px;
    text-align: left;
    object-fit: cover;
}

.populary .photo {
    display: flex;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
    border-radius: 20px;
    height: 120px;
    width: 280px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    margin-block-start: 30px;
    margin-inline-end: 30px;
}

.populary .fa-star {
    color: #0065FC;
}

.title-popu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 16px;
    margin-bottom: 7px;
    font-weight: 800;
    font-size: 20px;
}

.populary h3 {
    padding-left: 10px;
    text-align: left;
    font-weight: 800;
    font-size: 15px;
}

.populary figcaption p {
    margin-top: -10px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 12px;
}

.populary .star {
    padding-left: 10px;
    font-size: 12px;
    margin-top: 25px;
}

/*Les activité*/

#activity h2 {
    font-weight: 800;
    font-size: 15px;
    padding-top: 40px;
}

.activity {
    display: flex;
    flex-wrap: wrap;
}

.vieux-port img {
    height: 440px;
    width: 330px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.vieux-port {
    border: 1px solid #F2F2F2;
    background-color: white;
    box-shadow: 2px 5px 10px #F2F2F2;
    border-radius: 20px;
    height: 500px;
    width: 330px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    margin-block-start: 0px;
    margin-inline-end: 30px;
}

.activity figcaption {
    font-size: 15px;
    font-weight: 900;
    padding-left: 15px;
}

.img2 {
    display: flex;
    flex-direction: column;
}

.pomegues img {
    height: 250px;
    width: 330px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.pomegues {
    border: 1px solid #F2F2F2;
    background-color: white;
    box-shadow: 2px 5px 10px #F2F2F2;
    border-radius: 20px;
    height: 310px;
    width: 330px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    margin-block-start: 0px;
    margin-inline-end: 30px;
}

.frioul img {
    height: 100px;
    width: 330px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.frioul {
    border: 1px solid #F2F2F2;
    background-color: white;
    box-shadow: 2px 5px 10px #F2F2F2;
    border-radius: 20px;
    height: 160px;
    width: 330px;
    margin-inline-start: 15px;
    margin-block-start: auto;
    margin-inline-end: 30px;
}

.calanques img {
    height: 440px;
    width: 330px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.calanques {
    border: 1px solid #F2F2F2;
    background-color: white;
    box-shadow: 2px 5px 10px #F2F2F2;
    border-radius: 20px;
    height: 500px;
    width: 330px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    margin-block-start: 0px;
    margin-inline-end: 30px;
}

.img3 {
    display: flex;
    flex-direction: column;
}

.longchamp img {
    height: 170px;
    width: 330px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.longchamp {
    border: 1px solid #F2F2F2;
    background-color: white;
    box-shadow: 2px 5px 10px #F2F2F2;
    border-radius: 20px;
    height: 230px;
    width: 330px;
    margin-inline-start: 15px;
    margin-block-start: auto;
    margin-inline-end: 30px;
    margin-right: 0px;
}

.notre-dame img {
    height: 170px;
    width: 330px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.notre-dame {
    border: 1px solid #F2F2F2;
    background-color: white;
    box-shadow: 2px 5px 10px #F2F2F2;
    border-radius: 20px;
    height: 230px;
    width: 330px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    margin-block-start: 0px;
    margin-inline-end: 30px;
    margin-right: 0px;
}

/*Le footer du site*/

footer {
    display: flex;
    background-color: #F2F2F2;
    width: 1550px;
}

footer h2 {
    font-size: 20px;
    font-weight: 800;
}

footer p {
    font-size: 15px;
    font-weight: 500;
}

.hebergements {
    margin-inline-start: 245px;
}

.assistance {
    margin-inline-start: 245px;
}